:root{
    --black: #212121;
    --blue: #2196F3;
    --white: #FFFFFF;
    --white: #E5E5E5;
    --grey: #757575; 
    --grey: #2F303A;
}    
.title {
    color: #FFFFFF;
    font-weight: 1600px;
    line-height: 1880px;
} 
.body {
    background-color: #E5E5E5;
    font-family: Roboto;
    color: #212121;
}
.header {
    background-color: #FFFFFF;
}
.header .logo-left {
    font-family: Oleo Script;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
} 
.header .logo-right {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
}
.aside-nav .link {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}
.aside-nav .link:hover,
.aside-nav .link:focus {
    color: #2196F3;
}
.link-mail,
.link-tel {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}
.link-mail:hover, 
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
    color: #2196F3;
}   
.main {
    background-color: #2F303A;
}
.main .title {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
}
.main .button {
    background-color: #F5F4FA;
    font-family: Roboto;
    color: #212121;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
}
.main .button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.main .button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.section-1 {
    background-color: #E5E5E5;
}
.section-1 .title {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
}
.section-1 .subtitle .title {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
}
.section-1 .subtitle .text {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
.section-2 {
    background-color: #E5E5E5;
}
.section-2 .title {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
}
.section-2 .img {
    font-weight: 370px; 
    height: 294px;
    top: 1061px;
}
.section-3 {
    background-color: #F5F4FA;
}
.section-3 .title {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
}
.section-3 .subtitle-2 .img {
    font-weight: 270px; 
    height: 260px;
    top: 1635px;
}
.section-3 .subtitle-2 .title {
    color: #212121;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}
.section-3 .subtitle-2 .text {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.row .button {
    background-color: #F5F4FA;
    font-family: Roboto;
    color: #212121;
    font-size: 16px;
    line-height: 139%;
    font-weight: 500;
}
.row .button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.row .button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.content .img {
    font-weight: 370px; 
    height: 294px;
    top: 262px;
    left: 615px;
}
.content .title {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700; 
}
.content .text {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;    
}
.footer {
    background-color: #2F303A;
}
.footer .logo-left {
    font-family: Oleo Script;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
} 
.footer .logo-right {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
} 
.aside-address .link {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
.aside-address .link:hover,
.aside-address .link:focus {
    color: #2196F3;
}