body {
    font-family: Roboto;
    color: #212121;
    font-size: 18px;
    line-height: 171%;
    font-weight: 700, Bold;
}
button {
    font-family: Roboto;
    color: #212121;
    font-size: 16px;
    line-height: 139%;
    font-weight: 500, Medium;
}
button.yt-icon-button:hover {
    color: #2196F3;
}
button.yt-icon-button:focus {
    color: #2196F3;
}
button:hover {
    color: #FFFFFF;
}
button:focus {
    color: #FFFFFF;
}
a:hover {
    color: #2196F3;
}
a:focus {
    color: #2196F3;
}